body{

}

.div2{
  align-content: left;
}
.text{
  text-decoration-color: #FAB7B7;
}
.maintab{
  background-color: #FAB7B7;
  border:solid 12px;
  border-color:#00A1AB;
  border-radius:10px;
  border-top-color:#FAB7B7; 
}
.div1{
  background-color:#00A1AB;
  width:780px;
  height:200px;
  border:solid 10px;
  border-color:#FAB7B7;
  border-bottom-color:#FAB7B7;
  border-radius: 5px;


}
img{
  height: 200px;
  width:200px;
  border-radius:500%;
}
.tab1{
  height:600px;
  width:400px;
}
.tab2{
  height:600px;
  width:300px;
}
